
@{
    ViewData["Title"] = "Index";
}
@model List<Team>
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <a class="btn btn-primary" asp-action="Create" >Create</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">FullName</th>
                        <th scope="col">Position</th>
                        <th scope="col">Image</th>
                        <th scope="col">InstaUrl</th>
                        <th scope="col">TwitUrl</th>
                        <th scope="col">FaceUrl</th>
                        <th scope="col">LikdnUrl</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Fullname</td>
                            <td>@item.Position</td>
                            <td>
                                <img src="~/upload/team/@item.Image" width="50" height="50">
                            </td>
                            <td>@item.InstaUrl</td>
                            <td>@item.TwitUrl</td>
                            <td>@item.FaceUrl</td>
                            <td>@item.LikdnUrl</td>
                            <td>
                                <a asp-action="Edit" asp-route-Id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger">Delete</a>

                            </td>


                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>

